<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    Your Decks
    {{#deck}}
    {{name}}
    {{/deck}}
    {{^deck}}
    You Have No Decks Created
    {{/deck}}
  <p>
    <a href="/card">Create A Deck</a>
  </p>

  </body>
</html>
